<div class="footer" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="row wrap" fxLayoutGap="10px">
	<footer>
		<div class="icons">
			<a class="btn-fb" href="https://www.facebook.com/urooj.murtaza97" target="_blank" mat-mini-fab><i class="fab fa-facebook-f fa-lg"></i></a>
			<a class="btn-li" href="https://www.linkedin.com/mwlite/in/urooj-murtaza-8b213a166" target="_blank" mat-mini-fab><i class="fab fa-linkedin-in fa-lg"></i></a>
			<a class="btn-in" href="https://www.instagram.com/uroojmurtaza97/" target="_blank" mat-mini-fab><i class="fab fa-instagram fa-lg"></i></a>
		</div>
		<br>
		
	    <p class="copy">© Copyright 2021 UroojMurtaza.com.</p>
	    <br>
	    <p class="copyA">
	    	Website Developed By
	    	<a style="color: ivory; z-index: 1000;" href="https://www.linkedin.com/in/muhammad-mohid-2762471b9/" target="blank">Muhammad Mohid</a>
	    </p>
	</footer>
</div>
