<div class="jumbotron jumbotron-fluid"></div>

<hr>

<div fxLayout="row wrap" fxLayoutAlign="center center">
  <button class="butons" mat-stroked-button routerLink="/blog-articles" routerLinkActive='active'>Astronomy and General Knowledge</button>
  <button class="butons" mat-stroked-button routerLink="/blog-affiliate" routerLinkActive='active'>Affiliate Articles/ Product Descriptions</button>
  <button class="butons" mat-stroked-button routerLink="/blog-yt" routerLinkActive='active'>YouTube Scripts</button>
  <button class="butons" mat-stroked-button routerLink="/fashion" routerLinkActive='active'>Fashion Articles</button>
  <button class="butons" mat-stroked-button routerLink="/misc" routerLinkActive='active'>Miscellaneous</button>
  <button class="butons" mat-stroked-button routerLink="/social" routerLinkActive='active'>Social Media Articles</button>
</div>
<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="images?.length > 0">

  <mat-card class="example-card" *ngFor="let image of images; let i = index; let last = first;">
    <img mat-card-image [src]="image.image" [alt]="image.name">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <br>
      <br>
      <mat-card-title class="title">Posted By: Urooj Murtaza</mat-card-title>
      <!-- <mat-card-subtitle>Posted On: {{Posted | date:'MMMM d, y, h:mm:ss a z'}}</mat-card-subtitle> -->
    </mat-card-header>
    <br>

  <mat-card-content class="content">
    <div [innerHTML]="image.name"></div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-mini-fab color="warn" class="btn btn-outline-warning" (click)="open(content)"><i class="fas fa-share-alt-square fa-lg"></i></button>
  </mat-card-actions>
  
</mat-card>
  
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffc000" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>



<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Share With Your Circle!</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <share-buttons show="5"></share-buttons>
  </div>
</ng-template>