<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="main">Public Pages</h1>
</div>
<hr style="color: white;" />
<div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <div class="col-lg-3">
        <div class="card card-one">
            <div class="header">
                <div class="avatar">
                    <img src="assets/in.jpg" alt="">
                </div>
            </div>
            <a class="heading" href="https://m.facebook.com/infinity.sailors/?ref=bookmarks" target="_blank">Infinity Sailors (Facebook)</a>
            <div class="desc">
                This page intends to share information about astronomy-related facts and encourage out-of-the-box thinking. We are a team of 7 amateur astronomers from the Institute of Space Technology, Pakistan hoping to improve your understanding of the Cosmos!!
            </div>
            <div class="contacts" fxLayoutAlign="center">
                <a href="mailto: infinitysailors@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
                <div class="clear"></div>
            </div>
<!--             <div class="footer">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            </div> -->
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-one">
            <div class="header">
                <div class="avatar">
                    <img src="assets/tn.png" alt="">
                </div>
            </div>
            <a class="heading" href="https://m.facebook.com/tea.and.hug/about" target="_blank">I Want Tea and a Hug (Facebook)</a>
            <div class="desc">
                Peace, Joy and Compassion are what everyone wants right? So why not spread peace with words! This page aims to express human hunger for peace through thought-provoking ideas and realizations hoping to give you an insight into your inner self.
            </div>
            <div class="contacts" fxLayoutAlign="center">
                <a href="mailto: uroojmurtaza97@hotmail.com"><i class="fas fa-envelope fa-lg"></i></a>
                <div class="clear"></div>
            </div>
            <!-- <div class="footer">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            </div> -->
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-one">
            <div class="headerA">
                <div class="avatar">
                    <img src="assets/in.jpg" alt="">
                </div>
            </div>
            <a class="headingA" href="https://www.instagram.com/infinitysailors/" target="_blank">Infinity Sailors (Instagram)</a>
            <div class="desc">
                This page intends to share information about astronomy-related facts and encourage out-of-the-box thinking. We are a team of 7 amateur astronomers from the Institute of Space Technology, Pakistan hoping to improve your understanding of the Cosmos!!
            </div>
            <div class="contacts" fxLayoutAlign="center">
                <a href="mailto: infinitysailors@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
                <div class="clear"></div>
            </div>
            <!-- <div class="footerA">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            </div> -->
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-one">
            <div class="headerA">
                <div class="avatar">
                    <img src="assets/tn.png" alt="">
                </div>
            </div>
            <a class="headingA" href="https://www.instagram.com/infinitysailors/" target="_blank">I Want Tea and a Hug (Instagram)</a>
            <div class="desc">
                Peace, Joy and Compassion are what everyone wants right? So why not spread peace with words! This page aims to express human hunger for peace through thought-provoking ideas and realizations hoping to give you an insight into your inner self.
            </div>
            <div class="contacts" fxLayoutAlign="center">
                <a href="mailto: uroojmurtaza97@hotmail.com"><i class="fas fa-envelope fa-lg"></i></a>
                <div class="clear"></div>
            </div>
            <!-- <div class="footerA">
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            </div> -->
        </div>
    </div>
</div>
