<div class="jumbotron jumbotron-fluid">
  <div class="overlay">
  </div>
  <h1 class="center-align">My Embroidery Work</h1>
</div>
<br>
<br>
<br>
<div *ngIf="images?.length > 0">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    proportion="65"
    orientation="ltr"
    maxWidth="90%"
    fxLayout="row" fxLayoutAlign="space-evenly center"
    >
    <mat-carousel-slide #matCarouselSlide *ngFor="let image of images; let i = index; let last = first;"
     [image]="image.avatar"
    ></mat-carousel-slide>
  </mat-carousel>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffc000" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<br>
<br>
<br>
<div class="press" fxLayout="row" fxLayoutAlign="space-evenly center">
	<button mat-raised-button color="accent" (click)="open(content)"><i class="fas fa-share-alt-square fa-2x"></i></button>
</div>
<br>
<br>
<br>

<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Share With Your Circle!</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <share-buttons show="5"></share-buttons>
  </div>
</ng-template>