<ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "large" color = "#ffc000" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayout.xs="column" class="mat-elevation-z8 add">
	<div class="col s12 m4 l4" fxLayout="row wrap" fxLayout.xs="column">
		<h1>Urooj Murtaza</h1>
		<br>
		<p class="text">I am an Amateur Astronomer, a Content Writer, and an Artist. I am interested in Maths, Physics, and Astronomy and love to write articles on topics that fascinate me. I believe in hard work and aim to enhance my skills to move forward.</p>
	</div>
	<div class="col s12 m8 l8">
		<img class="responsive-img" src="assets/write.jpg">
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" class="mat-elevation-z8 bach">
	<div class="col s12 m8 l8">
		<img class="responsive-img" src="assets/quote.jpg">
	</div>
	<div class="col s12 m4 l4">
		<p class="center-align quote"> <q>A professional writer is an amateur who didn’t quit.</q><br><br><cite>&#126; Richard Bach</cite></p>
	</div>
</div>