<div fxLayout="column" fxLayoutAlign="space-evenly center">
	<button class="btn btn-primary" mat-stroked-button routerLink="/blog-add" style="margin-bottom: 5px;">Add Astronomy or Science Blog</button>
	<button class="btn btn-success" mat-stroked-button routerLink="/blog-yt-add" style="margin-bottom: 5px;">Add Youtube Script</button>
	<button class="btn btn-secondary" mat-stroked-button routerLink="/blog-affiliate-add" style="margin-bottom: 5px;">Add Affiliate Article or Product Description</button>
	<button class="btn btn-warning" mat-stroked-button routerLink="/add-embroidery" style="margin-bottom: 5px;">Add NeedleWork</button>
	<button class="btn btn-danger" mat-stroked-button routerLink="/gallery-create" style="margin-bottom: 5px;">Add New Telescopy Image</button>
	<button class="btn btn-outline-warning" mat-stroked-button routerLink="/fashion-upload" style="margin-bottom: 5px;">Add Fashion Article</button>
	<button class="btn btn-outline-danger" mat-stroked-button routerLink="/misc-add" style="margin-bottom: 5px;">Add Miscellaneous</button>
	<button class="btn btn-outline-info" mat-stroked-button routerLink="/social-add" style="margin-bottom: 5px;">Add Social Media Post</button>
</div>
