.example-card {
  max-width: 400px;
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url('../../assets/ava.jpg');
  background-size: cover;
}

.main {
    margin-bottom: 2%;
    font-family: 'Dosis';
    font-weight: 800;
    letter-spacing: 2px;
    color: floralwhite;
    font-size: 2.5em; 
}

.mainA {
  margin-bottom: 2%;
  font-family: 'Dosis';
  font-weight: 600;
  letter-spacing: 2px;
  color: floralwhite;
  font-size: 2em; 
}

.example-cardA {
  max-width: 850px;
}