<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="main">Blogs and Articles</h1>
</div>
<hr style="color: white;" />

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Gamma-Ray Bursts the Cosmic Snipers</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/burst.jpg" alt="Photo of Gamma ray burst">
  <mat-card-content>
    <p>
      From natural disasters like volcanic eruptions to war weapons like the atomic bomb, human beings are always in trouble, but what if I told you that that’s not it. To add to the existing chaos, let me introduce you to one of the most incredible and the most powerful explosions in the entire universe, the Gamma-Ray Bursts. READ MORE <a href="https://easternfuzz.com/gamma-ray-bursts-the-cosmic-snipers/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Gravitational-waves, the disturbances in space-time</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/grav.jpg" alt="Photo of Gravitational-waves">
  <mat-card-content>
    <p>
      Moving towards the door, you are very cautious to not make a sound. You open it carefully but accidentally end up making a sharp noise. Your mom wakes up and catches you with the ice-cream red-handed! It might be a bad experience for you, but this story leads us to something exciting. When objects interact, a disturbance is generated, which travels as sound or any other form of energy depending on the situation. When you opened that door, your force caused the door to move and generated a sound. READ MORE <a href="https://scientiamag.org/gravitational-waves-the-disturbances-in-space-time/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>What are Long Gamma-Ray Bursts?</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/gb.jpg" alt="Photo of GRB">
  <mat-card-content>
    <p>
     In our first blog on “Gamma-Ray Bursts the cosmic snipers”, we briefly introduced Gamma-Ray bursts, their energies, types, and sources in a nutshell. Now, let’s start digging into the first type of these bursts, which are “long GRBs.” Long-duration Gamma-Ray Bursts are intense bursts of gamma photons lasting for two or more than two seconds. They are believed to occur during supernova explosions, which are incredibly violent deaths of stars. READ MORE <a href="https://easternfuzz.com/what-are-long-gamma-ray-bursts/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>How Reinhard Genzel made the Nobel Prize-worthy discovery?</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/nobel.jpg" alt="Photo of Reinhard">
  <mat-card-content>
    <p>
      If you love astronomy and have ever dreamt of winning the Nobel Prize, then this piece is for you. Here we will go through the research work of Reinhard Genzel along with his companions Andrea Ghez and Roger Penrose, who shared the 2020 Nobel Prize in physics and conquered our hearts. The thing common about these 3 scientists is black hole research.  Roger Penrose had a bigger contribution, and so got half the prize share. He proved that the very formation of a black hole predicted in Einstein’s General Theory of Relativity. READ MORE <a href="https://scientiamag.org/how-reinhard-genzel-made-the-nobel-prize-worthy-discovery/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
  
</div>
