<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" style="margin-top: 10px;">
	<h1 class="main">Blogs and Articles</h1>
</div>
<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="mainA">Astronomy</h1>
</div>
<hr style="color: white;" />

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Gamma-Ray Bursts the Cosmic Snipers</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/burst.jpg" alt="Photo of Gamma ray burst">
  <mat-card-content>
    <p>
      From natural disasters like volcanic eruptions to war weapons like the atomic bomb, human beings are always in trouble, but what if I told you that that’s not it. To add to the existing chaos, let me introduce you to one of the most incredible and the most powerful explosions in the entire universe, the Gamma-Ray Bursts. READ MORE <a href="https://easternfuzz.com/gamma-ray-bursts-the-cosmic-snipers/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Gravitational-waves, the disturbances in space-time</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/grav.jpg" alt="Photo of Gravitational-waves">
  <mat-card-content>
    <p>
      Moving towards the door, you are very cautious to not make a sound. You open it carefully but accidentally end up making a sharp noise. Your mom wakes up and catches you with the ice-cream red-handed! It might be a bad experience for you, but this story leads us to something exciting. When objects interact, a disturbance is generated, which travels as sound or any other form of energy depending on the situation. When you opened that door, your force caused the door to move and generated a sound. READ MORE <a href="https://scientiamag.org/gravitational-waves-the-disturbances-in-space-time/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>What are Long Gamma-Ray Bursts?</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/gb.jpg" alt="Photo of GRB">
  <mat-card-content>
    <p>
     In our first blog on “Gamma-Ray Bursts the cosmic snipers”, we briefly introduced Gamma-Ray bursts, their energies, types, and sources in a nutshell. Now, let’s start digging into the first type of these bursts, which are “long GRBs.” Long-duration Gamma-Ray Bursts are intense bursts of gamma photons lasting for two or more than two seconds. They are believed to occur during supernova explosions, which are incredibly violent deaths of stars. READ MORE <a href="https://easternfuzz.com/what-are-long-gamma-ray-bursts/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>How Reinhard Genzel made the Nobel Prize-worthy discovery?</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/nobel.jpg" alt="Photo of Reinhard">
  <mat-card-content>
    <p>
      If you love astronomy and have ever dreamt of winning the Nobel Prize, then this piece is for you. Here we will go through the research work of Reinhard Genzel along with his companions Andrea Ghez and Roger Penrose, who shared the 2020 Nobel Prize in physics and conquered our hearts. The thing common about these 3 scientists is black hole research.  Roger Penrose had a bigger contribution, and so got half the prize share. He proved that the very formation of a black hole predicted in Einstein’s General Theory of Relativity. READ MORE <a href="https://scientiamag.org/how-reinhard-genzel-made-the-nobel-prize-worthy-discovery/" target="_blank">HERE!</a>
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
  
</div>

<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="mainA">Information Technology</h1>
</div>
<hr style="color: white;" />

<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>8 Quick tips For Students to learn programming online</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      How does a computer perform calculations, scan your system, and search the web in a blink of an eye? Well, that’s possible due to something we call “programming”.</p>
      <h3>What is programming?</h3>
      <p>
      Programming is the act of making programs, software, computer applications, websites, portals, etc. Through programming a service can be attained from the computer. 
	From windows to Facebook, from editing software to games all that we see on screen has been developed by a genius with programming skills. 
	Our computers are able to work through the programs we feed into them. It’s like instructions you give to your employee so he/she can work as you desire. E.g. Online Steam (Steam is a gaming platform) works with the help of programmers adding, replacing and managing its features. From games to simple alarm apps it’s the programmers that make it possible. 
    </p>
    <h3>8 Quick tips to get started</h3>
    <p>If you want to learn to program online, then here are 8 tips to get started. Regardless of you being a freshman or an experienced pro, it’s always great to learn more than what you already know.
    	<br>
<strong>Understand why are you learning programming</strong>
<br>
Before you start learning anything it's important you know the reason. Whether you want to makes games, apps, websites, or operating systems it's important you know what you are aiming for and then consult people in that field to grow. There are people who you can approach online and join groups to get more help. 
With the right mindset, you will know exactly what you want at the end and there will be fewer uncertainties. Choose your path wisely and then start working towards it.
<br>
<strong>Start from the very basics</strong>
<br>
As with all skills, it’s important in programming as well that you have a clear understanding of the basic concepts. If you develop problem-solving abilities and know how codes work at the back end then you will find it easier to learn further. 
The beginning is harder for everyone but once you make it through this phase you will develop interest as you go ahead. Don’t skip steps as you will find yourself stuck at many times and won’t know how to get out of it.
<br> 
<strong>Start with the right language</strong>
<br>
As a beginner, you should learn a low-level language because it will serve as a great introduction about how programming works in general. C++ is a low–level language that can help you learn how programs work and how it makes your computer carry out a task. 
The language you begin with should be basic enough to help you understand what programming is all about. Check online articles to find the best language for you. 
<br> 
<strong>Write code by hand</strong>
<br>
It sounds funny that you should write programs by hand but it can help you:
Remember things better 
Generate code from your brain rather than from Google
Understand errors better
You won’t get much help about errors as well so that will help you focus more on writing error-free on your own.
<br> 
<strong>Use online resources</strong> 
<br>
There are many platforms like: 
Edx
Coursera 
Udemy etc. 
You can take courses and learn from teachers at popular universities around the globe. The courses are designed for different levels and many offer certificates that you can show on your CV.
<br>
<strong>Ask professionals</strong> 
<br>
If you come across a professional working in the same field as you and you feel like you could use a little help then do reach out. Many people who are at the top were once beginners like you so they will be happy to help you out. 
Build your connections, take guidance and explore more people to expand your knowledge. Email them, contribute to codes online and take criticism seriously.
<br>
<strong>Practice as much as possible</strong>
<br>
As the saying goes ‘Practice makes Perfect’, this is one of the oldest but useful pieces of advice. Practice as much as you can till you think you can teach it to someone. Learning, practicing, and teaching will greatly help you become a better programmer.
<br>
<strong>Try to learn from your mistakes</strong>
<br>
As a programmer you will make countless mistakes, you will run into problems, and will stay stuck for days. That’s natural and is what every programmer goes through. The mistakes are a part of your learning but make sure you know the reason why the issues occurred so it can be avoided and you don’t end up making the same mistake again.
</p>
<h3>Conclusion</h3>
<p>
In this article, we learned what programming is, and 8 tips you can follow to learn to program online. These tips are generic and work for everyone but with more research, you will know more ways that work best for you. Keep working hard, stay focused, don’t worry too much, and eventually, you will get there.
</p>
  </mat-card-content>
</mat-card>


<mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Most Useful Chrome Extensions 2021</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      We live in an age where we are highly reliant on the internet for information. Whoever wants to keep up with the race knows how vital it is to have a sound knowledge of how the World Wide Web, works. With apps and software for every possible task, the right tools and extensions also play a key role in improving your experience and work quality.
Google contributed to 46% of the internet browser market share in the United States in February 2021 and that makes it important for us to know Google better. 
Thus with that in mind, we bring you 7 Google Chrome extensions that you should try to make the best out of Google. 
</p>
<br>
<strong>LastPass</strong>
<br>
Are you someone with lots of accounts and many passwords to remember? If so, now you can keep all your passwords secured in one place.  Having a strong password keeps your data safe but a strong password is difficult in most cases and can also result in you forgetting it.  Therefore Last Pass a chrome extension, is there to keep your passwords saved in a locally encrypted vault for you to access anytime anywhere. 
It sets a different password for each site and logs in to that site automatically whenever it’s opened. If you are wondering how this tool works then it's pretty simple. You need to remember just one "Master Password" and LastPass keeps the rest of the tasks in check. So every time you log in to a site e.g. Gmail or Steam platform, the tool will ask you whether you want to save your id and password or not and will store it accordingly. 
It’s a very convenient tool for people on the go!! 
Get it now <a href="https://www.lastpass.com/" target="_blank">Get it here</a>

<br>
<strong>Evernote Web Clipper</strong>
<br>
Are you someone who has a hard time focusing online? With so many articles and ads, it's easy to get distracted and that's where the Evernote Web Clipper comes in. Just like the snipping tool in windows you can use this tool to save sites, articles (with or without images), bookmarks, screenshots, etc. 
You can clip simply by clicking the elephant icon or double click if you are in a rush. You can add tags, any notes and save clips to certain notebooks for better organization. When you are done clipping login to your account on Evernote and all your clips will be there ready to be read! 
Install it today <a href="https://evernote.com/features/webclipper" target="_blank">Get it here</a>

<br> 
<strong>HubSpot Sales</strong>
<br>
If you have an online business and you are looking at ways to improve your brand’s CRM (Customer relationship management) then we have a tool for you. With HubSpot Sales, you can add contact information from your email to the CRM without extra steps. 
HubSpot also provides logging and tracking facilities. Every time an email is received, read, and clicked on, alerts are sent to the user. The entire email thread is logged into the CRM. 
Impressed? Get it now 
<a href="https://cutt.ly/YvUQs6z" target="_blank">Get it here</a>
 
<br> 
<strong>Todoist</strong>
<br>
You must have made a to-do list at some point in your life. A to-do list helps keep tasks in check and your work strategy in order but as we spend so much of our time online it's easy to forget about it and miss your routine altogether. That is when the Todoist comes into action. 
Now you can make plans, add tasks and even manage company tasks in one place. It's easy to access and you don't need to open a separate app, device, or tab. 
Try it today 
<a href="https://chrome.google.com/webstore/detail/todoist-for-chrome/jldhpllghnbhlbpcmnajkpdmadaolakh?hl=en" target="_blank">Get it here</a>

<br> 
<strong>Tab Wrangler</strong> 
<br>
If you are someone who keeps dozens of tabs open but doesn't want the system to get slow then your wish has finally been answered! Now you can keep multiple tabs open without slowing down your computer.
Mixing tabs and looking for sites you accidentally closed is a problem of the past. With the Tab Wrangler, your messy tabs will always be organized for you to access anytime. 
Get the extension today!!!
<a href="https://chrome.google.com/webstore/detail/tab-wrangler/egnjhciaieeiiohknchakcodbpgjnchh?hl=en" target="_blank">Get it here</a>

<br>
<strong>FoxClocks</strong> 
<br>
If you are someone who travels a lot or works with international clients then time zone variation must be a problem for you. With FoxClocks you can keep different time zones on the status bar of the browser and stay on track. 
Just click on the icon and check the clocks you want to. FoxClocks comes with another perk. It works with Daylight saving time so you can sit back and relax. It's very time-saving!
Try it out yourself!
<a href="https://chrome.google.com/webstore/detail/foxclocks/obcbigljfpgappaaofailjjoabiikckk?hl=en" target="_blank">Get it here</a>

<br>
<strong>Google Docs Offline</strong>
<br>
It’s hard to live without the internet but as internet issues are unavoidable so it's a great idea to have a backup. That is when offline Docs plays a major role. You can view, edit and create documents, presentations, and spreadsheets without the internet with this extension. 
It’s like an editor that works offline. Cool right?
Get it today!
<a href="https://chrome.google.com/webstore/detail/google-docs-offline/ghbmnnjooekpmoecnnnilnnbdlolhkhi" target="_blank">Get it here</a>

<h3>Conclusion</h3>
<p>
In this article, we reviewed 7 chrome extensions. From LastPass that saves your password to Evernote that clips internet content for you and from HubSpot to improve CRM to Todoist to keep your tasks in order, there is more to chrome than meets the eye. 
Tab managers to time zone managers and finally offline document editors make life easy and simple. All it takes is a little bit of research and chrome will meet all your demands. 

</p>
  </mat-card-content>
</mat-card>


<mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Popular URL Shortening Tools 2021-22</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      You must have tried a link shortener at some point that converts long and intimidating links to manageable ones. It makes things easy and life simpler but did you know that these tools come with a lot more functions. In this article, we will explore the top 8 tools with great marketing features that can help your brand grow exponentially.  
</p>
<br>
<strong>Bitly</strong>
<br>
If you have your own site and you want to shorten the web address for better marketing then this is it. With Bitly you can perform analytics and campaign management. If you own a company that deals with search engine optimization like Connecticut SEO experts, then you can get all these features for your site and reach more customers by getting a custom domain made for you. 
Bitly comes with both paid and free options so you can choose what suits you. Isn’t that great!!!! Bitly is a great tool with great features all in one.  


<br>
<strong>Rebrandly</strong>
<br>
This tool provides great link management. It’s unique because it believes that links can help your brand move forward. It provides services like:
<ul>
	<li>Traffic routing</li>
	<li>Deep linking</li>
	<li>Customized analytics</li>
	<li>Link targeting</li>
	<li>Account management</li>
	<li>Dedicated onboarding</li>
	<li>Custom domain</li>
</ul>

You can get free and paid packages as you like. Rebrandly has the honor of facilitating companies and organizations like:

<ul>
	<li>Tesla</li>
	<li>Oracle</li>
	<li>Harvard</li>
	<li>United nations etc.</li>
</ul>
It also allows you to work and collaborate with your team by working on shared folders. Now create branded links that help you grow. 

<br> 
<strong>TinyURL</strong>
<br>
This is a tool that will help you create a small sharable link that will be valid indefinitely. It’s very simple to use and doesn't require signing up. For history review, you will have to sign up and if you get a paid plan you will get tracking, branded domain, analytics, etc.  
TinyURL will provide you with three types of links, long, preview, and short. The best part is that you can generate as many short links as you want without any payments. It’s compatible with all web browsers and platforms and it disables spam or illegal links automatically. You can create links fast and stay anonymous. 

 
<br> 
<strong>Blink</strong>
<br>
This tool will help you shorten links and track your brand's progress. Through the dashboard, you can view the general statistics and analytics of your brand. It offers features like real-time click analysis, performance tracks, campaign creation, control, and enterprise-grade compliance. You can get free and paid packages and a custom domain for your brand. With a custom domain, you can add real words that will perform better and get more clicks. That is something that all brands want right?
With the free account, you can make 1000 active links and you can track 1000 clicks for every link. For a small business, this tool is a great option. 

<br> 
<strong>URL Shortener by Zapier</strong> 
<br>
Are you tired of manually shortening links? If so this tool can help. Whenever you perform an action you will create a ZAP that will create a short link and will save it to an app directly or to Google sheet. This tool allows both paid and free plans and makes life pretty easy!!
If you want to send a short link by SMS zapier will automatically shorten a link for you. On top of all this, you can integrate with 2000 plus applications like Google sheets and automatically add links. It will do stuff for you while you can sit back and relax. 

<br>
<strong>Pixelme</strong> 
<br>
This tool allows pixel tracking. That helps in understanding customer behavior and ultimately plan your actions better. With this tool, you can create and track short branded links and share them through your browser. A great feature is that it creates an audience for every link to help you increase your CTR.  Pixelme is a great tool for marketing helping you track ROI and build a budget for maximum growth.

<br>
<strong>Adfly</strong>
<br>
This tool shortens links and monetizes them as well. Cool right? Sign up, shorten a link and share it on your social media. You will make as much money as many clicks you get. Plus this tool is free. Adfly will make advertisements easier without annoying popups. Another great benefit is that you can also track performances and make better decisions based on how your brand is growing.  It's a brilliantly designed tool that you should definitely try.

<h3>Conclusion</h3>
<p>
In this article, we went through 8 link shortening tools to help you choose the best. For an all-rounder performance Bitly is a great option, for small businesses Blink can be used, if you want to focus on pixel tracking then Pixelme is great and for free advertisements Adfly can work well. Zapier makes things easy and automatic while TinyURL keeps your anonymity intact. 
All these tools have their own advantages and depending on what you need you can make the decisions or try them all to see what gives the best results. 
</p>

<h3>References</h3>
<a href="https://zapier.com/blog/best-url-shorteners/#zapierurlshortener" target="_blank">Zapier</a>
<br>
<a href="https://www.guru99.com/best-url-shorteners.html" target="_blank">Guru99</a>
<br>
<a href="https://www.adamenfroy.com/best-url-link-shortener" target="_blank">AdamenFroy</a>
<br>
<a href="https://www.g2.com/categories/url-shortener/free" target="_blank">G2</a>
</mat-card-content>
</mat-card>
  
</div>

<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="mainA">General Articles</h1>
</div>
<hr style="color: white;" />

<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Best Travel Bags for Cross-country Road Trip</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      If you love to travel, you must have gone through the troubles of packing! If so, you aren't alone. Packing for a cross-country trip can be very annoying and stressful. You are always worried about forgetting things. On the other hand, if you add lots of things; to your bag, the weight becomes an issue. 
While packing for travel is a skill, a good quality bag specially designed for travel can help you out. In this article, we will explore some of the best options out there so you can pack more efficiently.
Below are 6 of the best bags that you should consider:
</p>
<br> 

<strong>The EDGE35 BACKPACK by KINGKONG</strong>
<br>
<a href="https://kingkongapparel.com/collections/backpacks/products/edge35-backpack?variant=31146496163951
" target="_blank">KingKong Apparel</a>
<br>
Developed by KINGKONG apparel, this bag can handle a rough time. How strong is this bag? Hafthor Björnsson the, winner of World’s Strongest Man, endorses it. What makes this bag so great is its 35 liter interior capacity, along with:
<ul>
	<li>Padded laptop pocket</li>
	<li>A compartment for shoes/wet objects</li>
	<li>Water-proof lining</li>
	<li>Fidlock buckles for quick release</li>
	<li>25-year warranty</li>
	<li>2 bottle pockets</li>
	<li>A flat clamshell opening</li>
</ul>
The super-strong bag is worth USD 199.95. It is available in black color only.
<br>
<strong>The medium suitcase by AWAY</strong>
<br>
<a href="https://www.awaytravel.com/suitcases/medium?color=asphalt" target="_blank">The Medium Suitcase</a>
<br>
Who says a suitcase can’t be pretty? While you do want something durable and long-lasting a stylish bag can get that job done. With this stylish and well-built suitcase, you will look elegant and the bag will stay with you for years. 
The fabulous features of this bag include: 
<ul>
	<li>360-degree spinning wheels for better mobility</li>
	<li>A hard shell made of polycarbonate</li>
	<li>Interior compression system</li>
	<li>Stunning leather details</li>
	<li>TSA (Transportation Security Administration) approved safety-lock</li>
</ul>
You can even personalize this bag to give it a touch of YOU. This beauty is worth $275 and is available in 6 gorgeous colors.
<br> 
<strong>The SEG42 Travel Pack by Matador</strong>
<br>
<a href="https://matadorup.com/products/seg42-travel-pack?variant=31500854689905" target="_blank">Matador</a>
<br>
Are you a very put-together kind of a person who loves to carry every essential at all times? Do you feel the urge to pack your entire house as you travel? If so we have a bag for you that can be the answer. The SEG42 is a heavy-duty duffle bag that can handle stress without breaking a sweat. 
Its features include:
<ul>
	<li>42-liter capacity</li>
	<li>5 segments</li>
	<li>It has a clamshell bottom </li>
	<li>A padded laptop bag</li>
	<li>Has an anodized aluminum hardware</li>
	<li>Separable compartments by stowing</li>
	<li>External zippers for easy access</li>
</ul>
The bag is worth $199.99 but you can pay through installments as well. Isn’t that great? 

<br> 
<strong>The backpack by DAY OWL</strong>
<br>
<a href="https://www.dayowl.com/products/nocturnal-black-backpack" target="_blank">DayOwl</a>
<br>
If you are on the lookout for a bag that is simple yet full of features, this is it! It’s a minimalist’s dream come true. 
Plus you can return your bag after it’s worn out and the brand will upgrade. This will prevent the bag from going into the dump. Less trash, lesser landfilling, better environment. The features that make this bag a great option are:
<ul>
	<li>Padded laptop pocket</li>
	<li>A spill-proof water bottle pocket </li>
	<li>A top floating pocket for fragile and tiny objects</li>
	<li>A flat pocket at the front to grab things easily on the go</li>
	<li>Hidden side pockets for safety</li>
	<li>Made of recycled materials to save the planet from pollution</li>
</ul>
The bag will cost you $149 that can be paid through installments. 
<br> 
<strong>The Catalina Deluxe by LO and Sons</strong> 
<br>
<a href="https://www.loandsons.com/collections/sale/products/catalina-deluxe-organic-canvas-natural-1" target="_blank">LO and Sons</a>
<br>
If you love earthy colors and want a durable bag, then you should look into this one. It's a duffle bag that is very durable due to its high-quality materials. It comes in:
<ul>
	<li>Organic cotton: environmentally friendly and lightweight</li>
    <li>Washed canvas: high quality and light</li>
    <li>Recycled poly: good for the planet and water-proof</li>
</ul>
The bag features include:
<ul>
	<li>A bottom pocket with removable padding </li>
	<li>A bottom pocket with removable padding </li>
	<li>A messenger strap with padding for comfort</li>
	<li>Easy to fold for storage</li>
</ul>
This bag will cost you $113 after a 50% discount that's available on their site. The actual price is $225. It's available in 5 gorgeous colors in different shades of grey. 

<br>
<strong>The BLACK LEATHER DUFFEL BAG - WISE CHILDREN by Time resistance </strong>
<br>
<a href="https://timeresistance.com/leather-duffle-bags/black-leather-travel-bag" target="_blank">Time resistance</a>
<br>
Last but not the least we, have an elegant leather duffle bag for you. It’s ideal for those who like to keep things sophisticated. This bag is a show-stopper that will help you stand out in a crowd. The features of this beautiful yet, practical bag include:
<ul>
	<li>Vegetable-tanned leather  </li>
	<li>Protection at the bottom</li>
	<li>Adjustable strap</li>
	<li>Washable lining </li>
	<li>A big inside compartment for all your stuff</li>
	<li>A zipper side pocket</li>
</ul>
This stylish bag is worth $355.
<br>
<h3>Conclusion</h3>
<p>
In this article, we went through 6 bags which are all great for cross-country travel. The EDGE35 is the best option for people who like to give their bags a rough time. The medium suitcase is easy to carry with 360-degree wheels and is very pretty. The SEG42 bag is the best option for those who like to carry a lot of stuff. 
The backpack by DAY OWL is very environmentally friendly and makes packing easy. The Catalina Deluxe is very durable and easy to carry. Lastly, the black leather duffel bag by Time resistance is an elegant choice for those who live in style. 
All the above options are great and we recommend you check out each site before making a decision. 
</p>
  </mat-card-content>
</mat-card>


<mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>How to Wash a Hammock</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      While chilling on a hammock is pretty relaxing, cleaning it can seem a bit of a task.  After using your hammock for quite some time, it becomes dirty and inevitably you have to clean it! 
While you wouldn’t want to ruin it, you do want to clean it fast right? If that is what you want, you are in the right place. 
In this article, we will share some easy and useful tips with you to wash a hammock. Once you go through these tips, washing a hammock will become a piece of cake!! 
</p>

<h3>The 4-steps to washing a hammock </h3>
<br>
<p>
Here are 4 simple steps you need to take to wash your hammock.
<br>
<strong>Analyze the material and the damage</strong>
<br>
Firstly, you need to know the material. Different materials are washed differently so check the manufacturer's guidelines. Secondly, you should check for stains, mild dew, and any damages to the fabric.
If the fabric is ripped from any side or if there is any other type of damage then repair that first. Afterwards, check for stains. These two steps will help you decide the method for washing and understand how much you need to clean.

<br>
<strong>Remove the carabiners and spreader-bars</strong>
<br>
After you are done analyzing the hammock, you must separate the carabiners or any other metallic components. If you skip this step you will end up with rust due to the moisture interacting with the metal. Pieces of wood also get affected by moisture so separate all extra parts and put them in a safe place. 
If the spreader bars are not removable then you should keep them away from water while washing.

<br> 
<strong>Wash it up!!</strong>
<br>
Finally, let’s move on to the cleaning part. Depending on the material and the manufacturer's guide you can choose to soak, machine wash or use a hose to clean the hammock. Whatever way you choose to follow don't put any fabric softeners, any other fabric, or bleach at all while washing!!!
<br>
Tub Wash:
<br>
Add cold water, your hammock, and a mild detergent in a tub, and let it sit for some time. For a rope hammock, tie the two ends to avoid the ropes from tangling. Rub the ropes by hand to remove any stains. After an hour remove the water and replace it with clean water. 
Keep adding water till it becomes clear. If your hammock has O-rings or non-removable spreaders then keep them away from water while washing. Do wash the O-rings and spreaders a little bit with soap to remove any dirt.
<br>
Machine Wash:
<br>
If your hammock allows you, go for the laziest way to clean your hammock. In a washing machine, wash the hammock on a delicate-wash mode. Make sure to use a mild detergent and avoid using a dryer as it can damage the fabric. 
<br>
Hose wash
<br>
If you are using a hose to wash your hammock then put it on a concrete slab or any other clean surface. Spray the hammock with water and put some detergent over it or use soapy water. Once the hammock looks cleaned up, rub the fabric with your hands to get rid of dirt. Afterwards, spray water to remove the soap.
<br> 

<strong>Meta Description</strong>
<br>
 So you have a dirty hammock but not a lot of time. What should you do? Follow these 4 simple steps and you are good to go!!
</p>
  </mat-card-content>
</mat-card>
  
</div>

<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="mainA">Product Comparison</h1>
</div>
<hr style="color: white;" />


<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Haylou RT LS 05s vs. Haylou LS 05 which is better?</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  	<p>
  		According to Jim Rohn, “Discipline is the bridge between goals and accomplishments” this just shows how much discipline matters in our lives. If we are on time then everything feels like it's in place and that requires will and the right tools. Want a helper to make that happen?  This is where the Haylou smartwatches come in to play. 
  		Haylou comes under Xiaomi the brand you must know for their smartphones. In this article, we will compare the two smartwatches Haylou RT LS 05s and Haylou LS 05 to see which of these two is better and which is the one you should buy for the best results.
  	</p>
  	<br>
  	<table>
  		<tr>
  			<th>Products</th>
  			<th>Haylou RT LS 05s</th>
  			<th>Haylou LS 05</th>
  		</tr>
  		<tr>
		    <td><strong>Year of launch</strong></td>
		    <td>2021</td>
		    <td>2020</td>
		</tr>
		<tr>
		    <td><strong>Weight</strong></td>
		    <td>50.4g</td>
		    <td>54g</td>
		</tr>
		<tr>
		    <td><strong>Price</strong></td>
		    <td>$39.99</td>
		    <td>$32.99 may vary</td>
		</tr>
		<tr>
		    <td><strong>Display</strong></td>
		    <td>240 x 240 </td>
		    <td>240 x 240 </td>
		</tr>
		<tr>
		    <td><strong>Resolution</strong></td>
		    <td>1.28 inch TFT display</td>
		    <td>1.28 inch TFT display</td>
		</tr>
		<tr>
		    <td><strong>Finishing</strong></td>
		    <td>Rough and sharp curved</td>
		    <td>Smooth</td>
		</tr>
		<tr>
		    <td><strong>1P68 Certification</strong></td>
		    <td>Certified</td>
		    <td>Certified</td>
		</tr>
		<tr>
		    <td><strong>Design and usage</strong></td>
		    <td>The design is clean and smart. It comes with a charging cord and a user manual. The manual has a QR code that you need along with the Haylou app to set up your watch.

The watch contains two hardware buttons on the right side. It comes with a Nano-silicone wrist band that makes it breathable, corrosion-resistant, wear-resistant, and skin-friendly. 

When you tilt your arm it will indicate the time and its touch screen will allow you to swipe through.
You can change brightness, find a lost phone and do a lot more from the watch with your phone.
 

The replaceable straps are thicker than the ones in the LS O5. The brightness levels are also higher than in the previous version LS 05. You get 12 watch phases which are more than before. 
This watch is a bit lighter due to the smaller battery. 

The curved dial makes it easy to fit. 

</td>
		    <td>The design is clean and smart. It comes with a charging cord and a user manual. The manual has a QR code that you need along with the Haylou app to set up your watch. 

The watch contains one non-intrusive hardware button. You can use this button to enter into the menu. 

When you tilt your arm it will indicate the time and its touch screen will allow you to swipe through. 

You can change brightness, find a lost phone and do a lot more from the watch with your phone. You can change the watch display or watch face too but the options are not a lot.  

It can be analog or digital display whichever you like. There are not many watch faces but the basic ones are there. 

</td>
		</tr>
		<tr>
		    <td><strong>Waterproof  Body</strong></td>
		    <td>You can swim with it but don't keep it underwater for more than 30 min and more than 1.5 meters. </td>
		    <td>It is waterproof but you can’t dive with it or keep it in water for a much extended period. It will stay in great condition under 30 meters of water for 30 min.
		    </td>
		</tr>
		<tr>
		    <td><strong>Memory and charging</strong></td>
		    <td>It comes with a 300mAH battery but the chip is low power consumption so the battery life is still good. 

The charging cord comes with a magnetic connector that connects to the watch magnetically for easy charging. 



If you keep heart monitoring on for 24 hours, run 30 min every day, and exercise 2 times a week then the battery will last up to 15 days. 

If the heart rate monitor, Bluetooth, and other functions are off then it can stay on for 20 days.
</td>
		    <td>340mAh battery and the charging cord come with a magnetic connector that connects to the watch magnetically for easy charging. 

If you keep it at a level 2 brightness then it will last you for up to 30 days.

		    </td>
		</tr>
		<tr>
		    <td><strong>Modes and apps</strong></td>
		    <td>It comes with 12 sports modes like outdoor running, indoor running, fast walking, cycling, climbing, swimming, yoga, free training, gyms, basketball, football, and rowing. 

This watch comes with an improved heart rate monitor and health tracker to keep your health in check. 

All the previous apps are still there in the new version.
</td>
		    <td>It comes with an accelerometer, an optical heart-rate monitor, sleep tracker, breathing monitor, weather app, notifications from your phone, music app, fitness trackers, stopwatch, timer, etc. 
		    </td>
		</tr>
		<tr>
		    <td><strong>Connectivity</strong></td>
		    <td>It connects to your phone via Bluetooth 5.0 and works through the Haylou fun app. 

You can use both android and ios to connect to the watch. It will display notifications from apps on your phone.
</td>
		    <td>APP Haylou fit app allows you to connect your watch to your phone. 
It connects to a phone via Bluetooth 5.0. 


You can use both android and ios to connect to the watch. It will display notifications from apps on your phone.  

		    </td>
		</tr>
  	</table>
<br>
  	<h3>Conclusion</h3>
  	In this article, we went through two smartwatches Haylou RT LS 05s and Haylou LS 05. There are some new features in Haylou RT LS 05s which is the latest version but a lot is the same. The 12 sport modes, 12 new watch faces, lighter battery, and sharp curved dial along with better heart monitor and health tracking makes Haylou RT LS 05s a great choice but Haylou LS 05 has longer battery life so that’s a plus. It really depends on you actually and what you prefer. 
If you think the battery is a big priority then the older version is better and it's also cheaper. If you think that better health tracking is what you need then go for the latest one. Overall both are great for the price and you should definitely give one of these a try.
<br>
<br>
<h3>References</h3>
<a href="https://www.gizmochina.com/2021/03/25/haylou-rt-ls05s-launch-globally-39-99-usd-revamped-design/" target="_blank">GizMochina</a>
<br>
<a href="https://www.youtube.com/watch?v=p8SRjLXaOK0" target="_blank">Youtube</a>
<br>
<a href="https://www.youtube.com/watch?v=Sg1hEpjPQm8" target="_blank">2nd Link YouTube</a>
<br>
<a href="https://xiaomipedia.com/en/p/haylou-solar-ls05-smartwatch/" target="_blank">XiaomiPedia</a>
<br>
<a href="https://www.notebookcheck.net/Haylou-RT-Waterproof-smartwatch-with-up-to-20-days-of-battery-life-and-a-1-28-inch-display-launches-worldwide-for-US-44-99.530130.0.html" target="_blank">NoteBook Check</a>
</mat-card-content>
</mat-card>
  
</div>


<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
	<h1 class="mainA">Fashion</h1>
</div>
<hr style="color: white;" />


<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-cardA">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>How to Sew Denim at Home</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  	<p>Elio Fiorucci (an Italian fashion designer) once said: “Denim is a love that never fades away,” and we couldn’t agree more! Denim products and especially jeans are evergreen clothing items that never seem to go out of fashion. Denim jeans are trendy, cool, pretty, cute, and beautiful all at the same time. 
While it’s a very versatile item, we can’t ignore the fact that it can be a bit pricy! Top brands sell it at prices that aren’t affordable to many. To solve that issue, we are here to guide you on how you can stitch your own denim jeans at home and save money! 
While it may seem intimidating, if you learn to do it properly, you will be able to make that perfect piece that’s just for you! 
</p>
<h3>Steps to Sew denim jeans 600</h3>
Below are 6 easy to follow steps that can help anyone stitch denim perfectly. 
	<br>
	<strong>Design your jeans</strong>
	<br>
	<br>
	Firstly, you need to have a vision of what you want. If you start out without a plan you may end up failing and making something you don’t like. Bad idea! So before you do anything start out with a basic sketch of what you want. 
You can take inspiration from Pinterest, Google or make something completely original! Make sure the design you choose flatters your body. While you make the design include measurements and select a fabric that goes well with it.
<br>
<br>
<strong>Decide the fabric</strong>
<br>
<br>
Every fabric is not appropriate for every design. For that matter, try to understand what kind of denim is the right choice before leaving for the store. Denim is usually differentiated in terms of weight from 8 to 16 ounces. You can choose the right weight for you which suits your needs. In terms of appearance, denim comes in the following types:
<ol>
	<li>Raw denim: untreated and unwashed</li>
	<li>Sanforized denim: soft textured, washed denim</li>
	<li>Crushed denim: permanently crushed look with velvet-like weave</li>
	<li>Stretched: mix of cotton and spandex or other materials, stretchy</li>
	<li>Selvedge denim: fringe at the end</li>
	<li>Acid wash denim: washed in acid, has spots and smears</li>
	<li>Poly Denim: mix of polyester, cotton, and other fibers</li>
</ol>
<br>
<strong>Buy materials to sow</strong>
<br>
<br>
Before you start, you need to have supplies to sew the jeans. The raw materials depend on the style you are going after but generally, the supplies you need include:
<ol>
	<li>Denim fabric (1.6-3.4 meters)/li>
	<li>Needles, threads of different thicknesses (several hundred meters in length) depending on the design</li>
	<li>Rivets (6-11)</li>
	<li>Buttons (1-5) and a zipper</li>
	<li>Material for lining</li>
	<li>Labels to make things trendy</li>
	<li>Scissors and a sewing machine</li>
</ol>
<br>
<strong>Take Measurements</strong>
<br>
<br>
Now comes the fun part! After all the planning and shopping are done, it’s time to start taking measurements. A great idea for beginners is to take an old jeans and cut out all its stitching to separate all the components. The pockets, front and back leg, belt, etc. 
Iron all pieces to flatten them and cut the new components according to the measurements of the old pieces. You can adjust according to the design you want. Simple!
<br>
<br>
<strong>Shrink and Pre-wash </strong>
<br>
<br>
The last step before stitching is washing your fabric and shrinking it. This step is important for all kinds of stitching as fabrics always shrink after washing.  If you have denim that’s dark; you can get the colorfast process done, wash it twice, or keep it soaked in vinegar with warm water. 
<br>
<br>
<strong>Start sewing</strong>
<br>
<br>
Now comes the tough part. The actual sewing! You can follow a stitching pattern online for more details but mainly you need to do the following steps:
<ol>
	<li>Add any embellishment you want and sew the back pockets on the back leg</li>
	<li>Sew the back leg to the back yokes</li>
	<li>Add front pockets to the front leg or add a coin pocket if you feel like</li>
	<li>Construct the front fly for your jeans</li>
	<li>Sew the front to the back leg</li>
	<li>Stitch the waistline</li>
	<li>Finish up with hemming</li>
</ol>


<h3>Conclusion 100</h3>
In this article, we guided you on how to sew denim jeans at home. If you learn to do it at home, you will save yourself from spending extra cash. To start off, make a plan, try to find the perfect fabric for the design and then go shopping for raw materials. 
Once that’s done, you can start off with measuring your old jeans, and then pre-treat your fabric to shrink it and colorfast. Finally, you can sew the components together to get the job done. You might still be confused, but that's ok!
We recommend you explore more resources from our site to get a more detailed understanding. We are sure you will find it easier after doing some research!
<h3>References</h3>
<a href="https://www.pinterest.com/pin/405675878916028712/" target="_blank">Pinterest</a>
<br>
<a href="https://denimhunters.com/how-jeans-are-made-cut-and-sew/" target="_blank">DenimHunters</a>
<br>
<a href="https://stitchingmall.com/sew-denim-jeans" target="_blank">StitchinGmall</a>
<br>
<a href="https://doitbetteryourself.club/make-your-own-jeans/" target="_blank">Do It better Yourself</a>
<br>
<a href="https://blog.treasurie.com/sewing-denim/" target="_blank">Treasurie</a>
<br>
<a href="https://sewport.com/fabrics-directory/denim-fabric" target="_blank">Sewport</a>
</mat-card-content>
</mat-card>
</div>

<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <h1 class="mainA">Travel</h1>
</div>
<hr style="color: white;" />


<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>14 Best Hotels in Shogran To Visit in 2021 – Rent & Booking Details</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/Hotels.jpg" alt="Photo of Shogran Hotels">
  <mat-card-content>
    <p>Shogran is located in the Kaghan valley on the green plateau and is one of the best hill stations to visit in the country. It’s not very remote but not too developed thus it doesn’t take away the natural vibe one is looking for during a vacation. 
    It has breathtaking views, hiking spots, and great places to stay. While there are many hotel options out there, we are here with the 14 best ones to make your hotel hunting journey easier!
    <br>
    <a href="https://blogpakistan.pk/hotels-in-shogran/" target="_blank">READ MORE...</a>
</mat-card-content>
</mat-card>
  
</div>

<hr style="color: white;" />
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <h1 class="mainA">News and Education</h1>
</div>
<hr style="color: white;" />


<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutGap="10px">

  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Oxford University Scholarships & Fellowships for Pakistan 2021</mat-card-title>
    <br>
    <br>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/Oxford.jpg" alt="Oxford">
  <mat-card-content>
    <p>Under the Oxford Pakistan Program (OPP), students and faculty members from Pakistan will now receive visiting fellowships and graduate scholarships at the University of Oxford. 

    The initiative is supported by the High Commission for Pakistan in London, Oxford University and the British High Commission in Islamabad. The OPP program was inaugurated at an event at the Pakistani embassy in London.

    The program aims to promote activities related to Pakistan at the University of Oxford. It also wishes to encourage needy and high performing graduate students through scholarships. With visiting fellowships for faculty members from Pakistani universities, OPP will help universities in training their faculty members to a higher degree! Special lectures will also be delivered on Pakistan at Oxford. 

    The Pakistani community in the UK and Pakistani businessmen have contributed £500,000 for the cause considering it a great opportunity for future leaders.
    <br>
    <a href="https://blogpakistan.pk/oxford-university-scholarships-and-announcements-for-pakistan/" target="_blank">READ MORE...</a>
</mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Online Registration Portal For Freelancer in Pakistan by Ministry of IT – 2021</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/online.jpg" alt="online">
  <mat-card-content>
    <p>
      There is some good news for all the freelancers in Pakistan! On the 16th of September 2021, the Ministry of IT and Telecommunication (MoITT) in collaboration with the Pakistan Software Export Board (PSEB) launched an online portal to register Pakistani freelancers. The registration aims to keep a record of our freelance workforce while providing them with benefits that can enhance their work experience. 

      In the fiscal year 2019-20, freelancers were responsible for an export remittance of $150 Million. From July 2020 to January 2021 that value rose to USD 219 Million. By the end of the Fiscal year 2020-21, these values are predicted to grow to USD 350 Million.

      Considering the efforts and profitable results produced by freelancers, PSEB and the Ministry of IT and Telecommunication stepped forward to further promote their work. 

      The launch event for the online portal was held at the PSEB headquarters. Secretary MoITT, Sohail Rajput, Federal Minister for IT and Telecom, Syed Amin-ul-Haq, MD PSEB, Osman Nasir along with other senior guests were a part of this event. 
      <br>
      <a href="https://blogpakistan.pk/online-registration-portal-for-freelancers/" target="_blank">READ MORE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Alert: Natural Gas Crisis in Pakistan is About to Start (Reports)</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/Gas.jpg" alt="online">
  <mat-card-content>
    <p>
      Pakistan is on the verge of a huge natural gas crisis as the prices of natural gas skyrocket! As a developing economy, Pakistan depends on gas imports and as the prices rise internationally, it is becoming harder for the government to keep up with the natural gas demands. 

      The crises will become most prominent in September and October as the government rejects 8 spot LNG cargoes due to very high prices. The prices reached $13.787-$16.0 per million British thermal units. The Pakistan LNG Limited (PLL) had approved 8 LNG cargoes earlier, 4 for September and 4 for October but had to cancel them. 

      The Chairman of Pakistan Gas Port, Iqbal Z. Ahmed stated that in the coming winter months, Pakistan will have to face power outages. 

      He added that industries, exports, and the general morale will take a serious blow due to the shortage. The energy crisis that was seen in the UK had hit China and will hit emerging markets as well. The situation might worsen as the demands for LNG increase in winters further increasing global prices. 
      <br>
      <a href="https://blogpakistan.pk/gas-crisis-in-pakistan/" target="_blank">READ MORE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>SBP Sets New Leasing Policy for Automobiles – Limiting the Max Loan to 3 Millions</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/New.jpg" alt="online">
  <mat-card-content>
    <p>
      On September 24th, 2021, the State Bank of Pakistan (SBP) revised the prudential regulations (PRS) to tackle rapid loan growth. A rise in imports has been observed, due to higher demands. This has led to an account deficit of 81% month-on-month last August.

    The revisions in prudential regulations aim to balance the demand growth that will result in a slower import rise, thus stabilizing the “balance-of-payments.” The revisions prohibit the financing of imported vehicles while limiting it for locally manufactured vehicles with an engine capacity greater than 1000cc.

    Limitations were also imposed on credit cards and personal loans. The new regulations focus mainly on the automobile sector. The SBP has also shortened the duration of auto finance from a maximum tenure of 7 years to 5 years.

    In the same way, the maximum tenure has been shortened from 5 to 4 years for personal loans. On top of that, the overall limit of auto finance for a person from all banks/DFI has been set to PRK 3000000. The minimum down payment for auto finance has been set to 30% compared to 15% previously. 
      <br>
      <a href="https://blogpakistan.pk/new-bank-leasing-policy-for-automobiles-in-pakistan-by-state-bank-of-pakistan/" target="_blank">READ MORE!</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>13 Best Law Colleges in Islamabad: Fee & Admission Details 2021</mat-card-title>
    <mat-card-subtitle>Posted By: Urooj Murtaza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/New.jpg" alt="online">
  <mat-card-content>
    <p>
      A promising career in any field requires the right institute. An institute that is well-reputed, well established and has trained faculty can groom students to the highest degree. But, which institute is the best for you can be a tricky question. For that matter, we are here with a list of law colleges in Islamabad.

      We have added all the necessary information, from courses to fee structures, hoping to make law college hunting easier for you.
      <br>
      <a href="https://blogpakistan.pk/law-colleges-in-islamabad/" target="_blank">READ MORE!</a>
    </p>
  </mat-card-content>
</mat-card>

