<div fxLayout="column wrap" fxLayoutAlign="space-evenly center">
  <h1>Add New Post Highlight</h1>
  <hr />
<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <ckeditor formControlName="name" name="name" [editor]="editor" [config]="config"></ckeditor>
  </div>
  <br>
  <div>
    <input (change)="onFileSelect($event)" type="file" />
  </div>
  <div *ngIf="imageData">
    <img [src]="imageData" [alt]="form.value.name" />
  </div>
  <div>
    <button class="btn btn-success" type="submit">Submit</button>
  </div>
</form>
</div>
<br>
<br>
