<ul id="slide-out" class="sidenav sidenav-close">
    <li>
    	<div class="user-view">
    		<div class="background">
    			<img class="img" src="assets/astro.jpg">
    		</div>
    		<a routerLink="/profile"><img class="circle" src="assets/ava.jpg"></a>
		    <a routerLink="/profile"><span class="white-text name">Urooj Murtaza</span></a>
		    <a href="mailto: uroojmurtazaa@gmail.com" target="_blank"><span class="white-text email">uroojmurtazaa@gmail.com</span></a>
		</div>
	</li>
	<br>
    <br>
    <br>
    <li><a class="waves-effect" routerLink="/home" routerLinkActive='active'><i class="fas fa-home fa-lg"></i>Home</a></li>
    <li><a class="waves-effect" routerLink="/project-show" routerLinkActive='active'><i class="fas fa-tasks fa-lg"></i>Projects</a></li>
    <li><a class="waves-effect" routerLink="/profile" routerLinkActive='active'><i class="fas fa-file-word fa-lg"></i>Resume</a></li>
    <li><a class="waves-effect" routerLink="/blog" routerLinkActive='active'><i class="fas fa-newspaper fa-lg"></i>Blogs and Articles</a></li>
    <li><a class="waves-effect" routerLink="/public-pages" routerLinkActive='active'><i class="fas fa-icons fa-lg"></i>Public Pages</a></li>
  </ul>

<div class="section">
  <a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="fas fa-bars fa-3x"></i>
  </a>
</div>
