@import 'https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap';

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	font-size: 2em;
	margin-top: 2%;
	color: white;
}

input {
	width: 80vw;
	font-family: 'Dosis';
	margin-bottom: 3%;
	color: white;
}

button {
	font-family: 'Dosis';
}

img {
	width: 60vw;
	height: 70vh;
	margin-bottom: 2%;
}